@import url(root.css);

.step-container {
    position: absolute;
    display: flex;
    gap: 25px;
    width: 100%;
    padding: 10px;
    top: 10%;
    justify-content: center;
    align-items: center;
}

.steps {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #c409f3;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid var(--accent-clr);
}

.steps::after {
    content: '';
    position: absolute;
    width: 23px;
    border: 2px solid var(--accent-clr);
    right: -29px;
    background: var(--accent-clr);
}

.active::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px double #31ff1ed2;
    box-shadow: 0 0 10px 3px #640663e6;
}

#loginform,
#logoutform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    width: 25%;
    height: 60vh;

    overflow: hidden;
    z-index: 9999;
}

.login-btn-set {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 45%;
    padding: 5px;
    font-size: 20px;
    background: transparent;
    transition: all 500ms;
}

.submit:hover {
    background-color: lightseagreen;
}

.cancle:hover {
    background-color: crimson;
}

.register-form {
    margin: auto;
    margin-top: 5%;
    width: 45%;
    height: 50vh;
    padding: 10px;
    background: var(--white-clr);
}

.register-btn-set {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 10%;
    align-items: flex-end;
    justify-content: end;
}

.register-btn {
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 500ms;
}

.account {
    width: 100%;
    padding: 10px;
    font-size: 25px;
}

.next {
    background: slateblue;
    color: white;
}

.next:hover {
    background-color: #4d4198;
}

.transfer-form {
    width: 50%;
    height: fit-content;
    border: 1px solid #4d4198;
    margin: auto;
}

.transfer-details {
    width: 100%;
    padding: 10px;
    border: 2px solid cadetblue;
}

.detail {
    padding: 10px;
}

.value {
    border: 2px dashed crimson;
    padding: 5px;
}

/* Loan */
.loan-container {
    position: relative;
    width: 50%;
    height: 50vh;
    background-color: var(--white-clr);
    margin: auto;
    margin-top: 8%;
    padding: 10px;
}

.loan-container .register-btn-set {
    position: absolute;
    right: 10%;
    bottom: -5%;
}

.loan-container h1 {
    font-size: 26px;
}

.cancle-app {
    padding: 10px;
    font-size: 20px;
    border: #4d4198 1px solid;
    border-radius: 25px;
    background: black;
    box-shadow: 0 0 10px 0 crimson;
    color: #EFEFEF;
    z-index: 999;
}

.package-container {
    width: 80%;
    height: 50vh;
    margin: auto;
    margin-top: 10%;
    border: #c409f3 2px solid;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.package-wrapper {
    position: relative;
    width: 99%;
    height: 20vh;
    padding: 15px;
    margin: auto;
    display: flex;
    background: var(--white-clr);
    gap: 20px;
}

.package-status {
    position: absolute;
    right: 5%;
}

.package-status::before {
    content: '';
    position: absolute;
    top: 20%;
    left: -45%;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: lime;
}

.package-name,
.package-amount {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 700;
}

.package-amount {
    top: 50%;
}

.package-sponsor {
    position: absolute;
    top: 0;
    left: 2%;
}

.package-key,
.user-set {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
}
.user-set{
    right: 5%;
}
.get-set{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.get-set input{
    font: 20px;
    padding: 5px 10px;
    background: #202020;
    color: lime;
    word-spacing: 10px;
}
.package-btn{
    padding: 0 10px;
    font-size: 20px;
}