/* Root/Common/Miscs Css Stylings */
@import url('http://fonts.cdnfonts.com/css/clash-display');
@import url(fonts.css);

:root {
    --primary-clr: #FCFCFC;
    --secondary-clr: #e627df;
    --accent-clr: #1e14d7;
    --grey-accent: #dddddda9;
    --light-clr: #e5e4e4ea;
    --white-clr: #ffffff;
    --font-clr: #100202;
    --font-family: 'Clash Display', sans-serif;
}

.color-picker{
    position: absolute;
    top: 3%;
    left: 1%;
    width: 100%;
}
.color-picker .full-space{
    padding: 5px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.color-picker input[type="radio"]{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 3px solid black;
    outline-offset: 3px;
}

.color-picker input[type="radio"]:checked{
    background: var(--radio-clr);
}
.color-picker #light{
    --radio-clr: grey;
}
.color-picker #dark{
    --radio-clr: black;
}
.color-picker #dark:checked{
    outline: 3px solid #efefef;
}
#dark,
:root:has(#dark:checked){
    --primary-clr: #252121;
    --secondary-clr: #88ff00;
    --accent-clr: #1e14d7;
    --grey-accent: #dddddda9;
    --light-clr: #252222ea;
    --white-clr: #171414;
    --font-clr: #f9f9f9;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-clr);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-clr);
    font-family: var(--font-family);
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    height: fit-content;
}

section {
    position: relative;
    padding-top: 5%;
    background: var(--light-clr);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.version p {
    color: var(--light-clr);
}

.grid-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 10px;
}

.no-gap {
    gap: 0;
}

.small-gap {
    gap: 3px;
}

.flex {
    display: flex;
    gap: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.greet {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 32px;
    margin-bottom: 50px;
}

.greet::after {
    content: '';
    transition: all 500ms;
    position: absolute;
    width: 0;
    height: 5px;
    background: linear-gradient(33deg, orangered, lime);
    bottom: -10px;
    left: -25%;
}

.greet:hover::after {
    width: 150%;
}

.up-btn {
    transition: all 500ms;
    position: fixed;
    bottom: 10%;
    right: 3%;
    padding: 20px;
    border: 0;
    background: #c409f3;
    font-size: 20px;
    font-weight: 900;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #000000;
}

.up-btn:hover {
    background: #ce3ff1;
    box-shadow: 0 0 20px 0 #000000;
}

.X-btn {
    position: absolute;
    right: 10%;
    font-size: 25px;
    border: 0;
    padding: 5px;
    background: transparent;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: var(--font-clr);
    background: var(--primary-clr);
    border-top: 1px solid var(--primary-clr);
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: var(--font-clr);
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: var(--secondary-clr);
    border-radius: 100px;
    color: var(--font-clr);
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: var(--font-clr);
}


.rotate:hover {
    border-radius: 100%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.keyboard {
    width: 100%;
}

.key {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    transition: all 500ms;
    border: 2px double teal;
    color: var(--font-clr);
    background-color: var(--white-clr);
}

.key[type="submit"] {
    background: seagreen;
}

.key[type="submit"]:hover {
    background-color: teal;
}

.key[type="reset"] {
    background: crimson;
}

.key[type="reset"]:hover {
    background: red;
}

.key:hover {
    background: #c6c4c6;
}

.errorcode {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: var(--font-clr);
    box-shadow: 0 0 20px 2px crimson;
    font-size: 25px;
    color: red;
    text-align: center;
}

.error-btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    font-size: 25px;
    border: 3px double red;
    background-color: #000000;
    color: var(--font-clr);
    border-radius: 75px;
    transition: all 250ms;
}

.error-btn:hover {
    box-shadow: 0 0 20px 0 crimson, 0 0 30px 0 red, 0 0 40px 0 black;
}

.success-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 0;
    text-align: center;
    bottom: 0;
    transition: all 500ms;
}

.tick {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 40%;
    transition: all 500ms;
}

.receipt {
    position: absolute;
    width: 0;
    height: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#000000;
    transition: all 500ms;
}

.receipt * {
    color: #efefefe0;
}

.receipt table,
th,
td {
    padding: 5px;
    border: 1px solid transparent;
}

table {
    width: 100%;
}

.termsdlg {
    width: 0;
    height: 0;
    padding: 10px;
    margin: auto;
}