body{
    overflow: hidden !important;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.grid-2 section {
    border: 3px solid gold;
}

.loan {
    height: 100%;
    overflow-y: scroll;
}
.package{
    height: 100%;
    overflow-y: scroll;
}

.top {
    position: sticky;
    top: 0;
    z-index: 999;
}

.top * {
    background: black;
    color: white;

}

table,
tr,
td,
th {
    border: 3px solid gold;
    font-weight: 700;
}

.loan td,
th {
    width: fit-content;
    padding: 5px;
}

table {
    width: 100%;
}
.controller{
    margin-top: 10%;
    width: 100%;
    height: 50vh;
    padding: 15px;
    border: 5px solid black;
    background: white;
}
.controller .btn-set{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10%;
    bottom: 10%;
    gap: 20px;
}
.controller .btn{
    padding: 10px 20px;
}
.submit{
    background: gold;
}
.cancle{
    background: silver;
}
.submit:hover{
    background: goldenrod;
}
.back-btn{
    position: absolute;
    top: -25px;
    left: 0;
    padding: 10px 25px;
    background: black;
    color: gold;
}