.navbar{
    width: 100%;
    padding: 10px;
    background: dodgerblue;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    position: fixed;
    top: 0;
}
.navbar > h1{
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 28px;
}
.logout{
    position: absolute;
    right: 8%;
    top: 5px;
}
.logout-btn{
    padding: 5px 30px;
    font-size: 20px;
}