@import url(../../../assets/css/fonts.css);
:root{
    --primary-clr: #eeede9c5;
    --secondary-clr: #3e4bc1;
    --accent-clr: #FFFF00;
    --font-fam: 'Clash Display',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam);
}
body{
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}
.col-lab{
    width: 100%;
    padding: 2px;
    float: left;
}
.col-inp{
    width: 90%;
    padding: 2px;
    float: left;
}
.input{
    padding: 5px;
    font-size: 20px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    background: transparent;
}
.btn{
    padding: 10px 30px;
    font-size: 20px;
}