:root {
    --primary-clr: #080505;
    --secondary-clr: #3e4bc1;
    --accent-clr: #FFFF00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: var(--primary-clr);
}
section{
    width: 100%;
    padding: 10px;
    height: 100vh;
}
button {
    cursor: pointer;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.col-lab {
    width: 100%;
    padding: 2px;
    float: left;
}

.col-inp {
    width: 90%;
    padding: 2px;
    float: left;
}

.input {
    padding: 5px;
    font-size: 20px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    background: transparent;
}

.btn {
    padding: 10px 30px;
    font-size: 20px;
}